<mat-toolbar>
  <h1>24/7</h1>

  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button mat-button (click)="logout()">
    <mat-icon>logout</mat-icon>
    Cerrar Sesión
  </button>
</ng-container>

<ng-template #loginButton>
  <button mat-button routerLink="login"> 
    <mat-icon class="log">login</mat-icon>
    Iniciar Sesión
  </button>
</ng-template>

  
</mat-toolbar>

<div class="content">
<router-outlet></router-outlet>
</div>