<div class="form-container mat-elevation-z5">

  <img src="/assets/img/login.png" alt="login" width="80" class="img">
  <h1>Iniciar Sesión</h1>
<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <mat-form-field>
    <input matInput placeholder="Usuario" formControlName="username" class="in"/>
    <mat-error *ngIf="username?.errors?.['required']">
      Introduzca carnet de identidad
    </mat-error>
    <mat-error *ngIf="username?.errors?.['username']">
      Vuelva a intentarlo
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Contraseña" formControlName="password" type="password"/>
    <mat-error *ngIf="password?.errors?.['required']">
      Introduzca su contraseña
    </mat-error>
  </mat-form-field>
  <div class="center margin-top">
    <button mat-raised-button class="color" type="submit">
      Iniciar Sesión
    </button>
  </div>
  <span class="center margin-top">¿No tiene cuenta? <a class="sign-up-link btn-neon"  href="#" routerLink="sign-up"> <span id="span1"></span>
    <span id="span2"></span>
    <span id="span3"></span>
    <span id="span4"></span> Regístrese</a></span>
</form>
</div>
