/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background-image: url(assets/img/44.jpg);
background-repeat: no-repeat;
background-size: cover;}


.form-container{
  color: white;
  display: block;
  max-width: 300px;
  margin: auto;
  background-image: url(assets/img/d.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px;
  border-radius: 16px;
}

.center{
  display: flex;
  justify-content: center;
}

.margin-top{
  margin-top: 16px;
}

.text-center{
  text-align: center;
}
